fastapi
uvicorn
python-multipart
python-dotenv
bcrypt
openai
python-docx
pdfplumber
python-pptx
chromadb
llama-index
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-llms-openai
pydantic
requests
reportlab
tqdm
numpy
faiss-cpu
